main {
  padding: 20px;
  font-family: Arial, sans-serif;
}

h2 {
  color: #4d4747;
}

p, li {
  color: #8d8c8c;
}

footer {
  text-align: center;
  margin-top: 20px;
  font-size: 0.8rem;
}
